.gameItem {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 25%;
	border: none;
	background-color: rgb(black, .3);
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	transition: all .3s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

> span {
		pointer-events: none;
		transition: .2s ease-in-out;
	}
}