.cube {
	position: relative;
	width: 400px;
	height: 400px;
	background-color: rgb(20, 13, 63);
	padding-bottom: 100%;
	margin-bottom: 30px;

	> button {
		position: absolute;
		font-size: 20px;
	}
	
	.gameItem {
		position: absolute;
		left: 0;
		top: 0;
		width: 25%;
		height: 25%;
		border: none;
		background-color: rgb(black, .3);
		color: #fff;
		font-size: 40px;
		cursor: pointer;
		transition: all .3s ease-out;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

	> span {
			pointer-events: none;
			transition: .2s ease-in-out;
		}
	}
}

