.cube {
	position: relative;
	width: 400px;
	height: 400px;
	background-color: rgb(20, 13, 63);
	padding-bottom: 100%;
	margin-bottom: 30px;

	> button {
		position: absolute;
		font-size: 20px;
	}

	
}

