@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	background-color: $gray-color-900;
	font-weight: 600;
	color: $white-color;
	font-size: $fz-md;

}


//Scrollbar
html {
	scrollbar-width: thin;
	scrollbar-color: rgb(95, 15, 192) rgb(143, 28, 28);
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
	
}

::-webkit-scrollbar-track{
	background: $gray-color-700;
}

::-webkit-scrollbar-thumb {
	background-color: $gray-color-600;
	border: 3px solid $gray-color-600;
	border-radius: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}

// icon fonts
@font-face {
  font-family: 'icons';
  src:
    url('../../fonts/icon/icons.ttf?ihiinf') format('truetype'),
    url('../../fonts/icon/icons.woff?ihiinf') format('woff'),
    url('../../fonts/icon/icons.svg?ihiinf#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, 
[class*="_icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._icon-hand:before {
  content: "\e900";
}
._icon-face:before {
  content: "\e901";
}
._icon-ghost:before {
  content: "\e902";
}
._icon-mask:before {
  content: "\e903";
}
._icon-heart:before {
  content: "\e904";
}
._icon-radiation:before {
  content: "\e905";
}
._icon-shield:before {
  content: "\e906";
}
._icon-minimize:before {
  content: "\e907";
}
